<div class="container">
  

  <% if current_user && current_user.oauth_secret %>
    <div id="status"><p><br></p></div>
    <h1>Welcome, <%=current_user.username%></h1>

    <form id="send-tweet" method="post" action="/">
      <input type ="text" name="tweet" placeholder="your tweet">
      <input type ="text" name="delay" placeholder="Enter time to send">
      <input type="submit" value="Send Tweet!">
    </form>
    <button><a href="/sign_out">Sign Out</a></button>

  <div id="tweeters"></div>
</div>
  <% else %>
  
<button><a href="/sign_in">Sign In with Twitter</a></button>
<% end %>

</div>
